*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



  body, html {
    height: 100%;
    background-color:azure;
  }

  .background-image {
    background-image: url('./bg-with-heart.svg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .video-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }